body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    overflow: hidden;
}

div {
    margin: 10px 0;
}

input {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#outsideImage {
    background-image: url(images/outsideCircle.jpg);
    height: 348px;
    width: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#innerCircle {
    transition: transform 2s ease;
}
